<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.six.qb">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:name="com.six.qb.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name="cn.beecloud.BCMockPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        //对于微信支付，需要添加
        <activity
            android:name="cn.beecloud.BCWechatPaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="cn.beecloud.BCWechatPaymentActivity" />

        //对于支付宝，需要添加

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        //end

        <activity android:name="com.six.qb.activitys.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.six.qb.login.LoginActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent1105345087" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.six.qb.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name="com.six.qb.fragments.mine.activity.JuActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.fragments.mine.activity.ShopActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.fragments.mine.activity.ZuActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.fragments.mine.activity.AddressActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.fragments.mine.activity.HbActivity"
            android:exported="true"/>

        <activity android:name="com.six.qb.fragments.mine.activity.AddAddressActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.fragments.mine.activity.SettingActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.login.RegisterActivity"
            android:exported="true"/>
        <activity android:name="com.six.qb.activitys.ShopDetialActivity"/>
        <activity android:name="com.six.qb.fragments.all.activity.AllRecordActivity"/>
        <activity android:name="com.six.qb.fragments.newst.ResultsRevealedActivity"/>
        <activity android:name="com.six.qb.fragments.all.activity.GraphicDetailsActivity"/>
        <activity android:name="com.six.qb.fragments.all.activity.QbHistoryActivity"/>
        <activity android:name="com.six.qb.login.RegisterCodeActivity"/>
        <activity android:name="com.six.qb.activitys.JxResultactivity"/>
        <activity android:name="com.six.qb.activitys.InvitationActivity"/>
        <activity android:name="com.six.qb.activitys.PayActivity"/>
        <activity android:name="com.six.qb.activitys.PersionalInfoActivity"/>
        <activity android:name="com.six.qb.activitys.NameInfoActivity"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name="com.six.qb.activitys.PaymentActivity"/>
        <activity android:name="com.six.qb.activitys.PaymentHbActivity"/>
        //数据库
        <provider
            android:authorities="com.six.qb.utils.MyContentProvider"
            android:name="com.six.qb.utils.MyContentProvider"/>
    </application>

</manifest>